
@{
    ViewBag.Title = "Метод Bow-Tie (краватка-метелик)";
}
<div class="inside-content" style="padding-left: 0; padding-right: 0; padding-bottom: 100px;">
    <h2 class="title">Аналіз діаграми «краватка-метелик» (Bow-Tie)</h2>
    <div class="main-container-one"><img style="margin-left: auto; margin-right: auto; width: 534px; height: 372px; display: block;" src="~/Images/example.png" /></div>


    <div class="main-container-two">
        <h3 class="subtitle">Загальний огляд</h3>
        <p>Аналіз Bow-Tie або «краватка–метелик» є схематичним способом опису та аналізу шляху розвитку небезпечної події від причин до наслідків. Цей метод поєднує дослідження причин події за допомогою дерева несправностей і аналіз наслідків за допомогою дерева подій. Однак основну увагу методу «краватка–метелик» сфокусовано на бар’єрах між причинами і небезпечними подіями, небезпечними подіями та наслідками. Діаграми «краватка–метелик» часто будують безпосередньо в процесі проведення мозкового штурму.</p>
    </div>
    <div class="main-container-one">
        <h3 class="subtitle">Сфера застосування</h3>
        <p>Аналіз «краватка–метелик» використовують для дослідження ризику на основі демонстрації діапазону можливих причин і наслідків. Метод необхідно застосовувати в ситуації, коли складно провести повний аналіз дерева несправностей, або коли дослідження більшою мірою спрямоване на створення бар’єрів або засобів управління для кожного шляху відмови. Метод може бути корисний у ситуації, коли існують точно встановлені незалежні шляхи, що призводять до відмови. Аналіз «краватка-метелик» часто значно простіший для розуміння, ніж аналіз дерева подій або дерева несправностей, і, отже, він може бути корисний для обміну інформацією при використанні більш складних методів.</p>
    </div>
    <div class="main-container-two">
        <h3 class="subtitle">Вхідні дані</h3>
        <p>Вхідними даними методу є інформація про причини та наслідки небезпечних подій, ризиків, бар’єрів та засоби управління, які можуть їм запобігти, пом’якшити або стимулювати.</p>
    </div>
    <div class="main-container-one">
        <h3 class="subtitle">Процес виконання методу</h3>
        <p>Аналіз «краватка-метелик» будується згідно з такими процедурами:
        <ol>
            <li>Визначення небезпечної події, обраної для аналізу, і відображення її центрального вузла «краватки-метелика».</li>
            <li>Складання переліку причин події за допомогою дослідження джерел ризику (або небезпеки).</li>
            <li>Ідентифікація механізму розвитку небезпеки до критичної події.</li>
            <li>Проведення лінії, яка відокремлює причину від події, що дозволяє сформувати лівий бік метелика. Додатково можуть бути ідентифіковані і включені в діаграму фактори, які можуть призвести до ескалації небезпечної події та її наслідків;</li>
            <li>Нанесення поперек лінії вертикальних перешкод, відповідних бар’єрам, які запобігають небажаним наслідкам. Якщо визначено фактори, які можуть спричиняти ескалацію небезпечної події, то додатково можуть бути подані бар’єри, що відвертають подібну ескалацію. Цей підхід може бути використаний для позитивних наслідків, коли перепони відображають засоби управління, що стимулюють появу і розвиток події.</li>
            <li>Ідентифікація в правому боці метелика різних наслідків небезпечної події і проведення ліній, що з’єднують центральну подію з кожним можливим наслідком.</li>
            <li>Зображення бар’єрів перешкод у напрямку до наслідку. Цей підхід може бути використаний для позитивних наслідків, коли перепони відображають засоби управління, що забезпечують появу сприятливих наслідків.</li>
            <li>Відображення під діаграмою «краватка-метелик» допоміжних функцій управління, що належать до засобів управління (таких, як навчання і перевірка), поєднання їх із відповідним засобом управління.</li>
        </ol>
        </p>
    </div>
    <div class="main-container-two">
        <h3 class="subtitle">Вихідні дані</h3>
        <p>Вихідними даними методу є проста діаграма, що показує основні шляхи небезпечних подій і встановлені бар’єри, спрямовані на запобігання або пом’якшення небажаних наслідків та/або посилення і прискорення очікуваних наслідків.</p>
    </div>
</div>