
@{
    ViewBag.Title = "Аналіз ризиків ймовірнісними методами";
}
<h2 class="title">
    <img class="small-icon" src="/Images/1.svg" /> Побудова та аналіз діаграми «краватка-метелик» (Bow-Tie) для визначення причин та наслідків події
</h2>
<div class="main-container-one"><img style="margin-left: auto; margin-right: auto; width: 534px; height: 372px; display: block;" src="~/Images/example.png" /></div>
<div class="main-container-two">
    <h3 class="subtitle">Загальний огляд</h3>
    <p>Аналіз Bow-Tie або «краватка–метелик» є схематичним способом опису та аналізу шляху розвитку небезпечної події від причин до наслідків. Цей метод поєднує дослідження причин події за допомогою дерева несправностей і аналіз наслідків за допомогою дерева подій. Однак основну увагу методу «краватка–метелик» сфокусовано на бар’єрах між причинами і небезпечними подіями, небезпечними подіями та наслідками. Діаграми «краватка–метелик» часто будують безпосередньо в процесі проведення мозкового штурму.</p>
</div>
<div class="main-container-one">
    <h3 class="subtitle">Сфера застосування</h3>
    <p>Аналіз «краватка–метелик» використовують для дослідження ризику на основі демонстрації діапазону можливих причин і наслідків. Метод необхідно застосовувати в ситуації, коли складно провести повний аналіз дерева несправностей, або коли дослідження більшою мірою спрямоване на створення бар’єрів або засобів управління для кожного шляху відмови. Метод може бути корисний у ситуації, коли існують точно встановлені незалежні шляхи, що призводять до відмови. Аналіз «краватка-метелик» часто значно простіший для розуміння, ніж аналіз дерева подій або дерева несправностей, і, отже, він може бути корисний для обміну інформацією при використанні більш складних методів.</p>
</div>
<div class="main-container-two">
    <h3 class="subtitle">Вхідні дані</h3>
    <p>Вхідними даними методу є інформація про причини та наслідки небезпечних подій, ризиків, бар’єрів та засоби управління, які можуть їм запобігти, пом’якшити або стимулювати.</p>
</div>
<div class="main-container-one">
    <h3 class="subtitle">Процес виконання методу</h3>
    <p>
        Аналіз «краватка-метелик» будується згідно з такими процедурами:
        <ol>
            <li>Визначення небезпечної події, обраної для аналізу, і відображення її центрального вузла «краватки-метелика».</li>
            <li>Складання переліку причин події за допомогою дослідження джерел ризику (або небезпеки).</li>
            <li>Ідентифікація механізму розвитку небезпеки до критичної події.</li>
            <li>Проведення лінії, яка відокремлює причину від події, що дозволяє сформувати лівий бік метелика. Додатково можуть бути ідентифіковані і включені в діаграму фактори, які можуть призвести до ескалації небезпечної події та її наслідків;</li>
            <li>Нанесення поперек лінії вертикальних перешкод, відповідних бар’єрам, які запобігають небажаним наслідкам. Якщо визначено фактори, які можуть спричиняти ескалацію небезпечної події, то додатково можуть бути подані бар’єри, що відвертають подібну ескалацію. Цей підхід може бути використаний для позитивних наслідків, коли перепони відображають засоби управління, що стимулюють появу і розвиток події.</li>
            <li>Ідентифікація в правому боці метелика різних наслідків небезпечної події і проведення ліній, що з’єднують центральну подію з кожним можливим наслідком.</li>
            <li>Зображення бар’єрів перешкод у напрямку до наслідку. Цей підхід може бути використаний для позитивних наслідків, коли перепони відображають засоби управління, що забезпечують появу сприятливих наслідків.</li>
            <li>Відображення під діаграмою «краватка-метелик» допоміжних функцій управління, що належать до засобів управління (таких, як навчання і перевірка), поєднання їх із відповідним засобом управління.</li>
        </ol>
    </p>
</div>
<div class="main-container-two">
    <h3 class="subtitle">Вихідні дані</h3>
    <p>Вихідними даними методу є проста діаграма, що показує основні шляхи небезпечних подій і встановлені бар’єри, спрямовані на запобігання або пом’якшення небажаних наслідків та/або посилення і прискорення очікуваних наслідків.</p>
</div>
<h2 class="title mt-5">
    <img class="small-icon" src="/Images/2.svg" /> Побудова діаграми Ісікави для дослідження причинно-наслідкових взаємозв’язків
</h2>
<div class="main-container-one"><img style="margin-left: auto; margin-right: auto; display: block;" src="~/Images/example2.png" /></div>
<div class="main-container-two">
    <h3 class="subtitle">Загальний огляд</h3>
    <p>Аналізування причинно-наслідкових зв’язків — структурований метод, який дає змогу ідентифікувати можливі причини небажаної події чи проблеми. Він систематизує можливі зумовлювальні чинники у загальні категорії так, що можна розглядати всі можливі гіпотези. Однак сам по собі він не вказує на фактичні причини, оскільки їх може бути визначено тільки за допомогою дійсних доказів і емпіричного тестування гіпотез. Інформацію подають у формі діаграми Ісікави («риб’ячого кістяка»), іноді — у формі деревоподібної діаграми.</p>
</div>
<div class="main-container-one">
    <h3 class="subtitle">Сфера застосування</h3>
    <p>Аналізування причинно-наслідкових зв’язків забезпечує структуроване графічне відображення переліку причин конкретного впливу. Вплив може бути позитивним (ціль) чи негативним (проблема) залежно від оточення. Воно дає змогу розглядати всі можливі сценарії та причини, зазначені групою експертів, а також виробити спільне рішення стосовно найправдоподібніших причин, яке потім може бути перевірено емпірічним тестуванням або оцінюванням наявних даних. На початку аналізування доцільніше розширено обміркувати можливі причини і потім виробити потенційні гіпотези, які може бути розглянуто більш формалізованим способом. Побудову діаграми причинно-наслідкових зв’язків можна провадити за потреби:</p>
    <ul>
        <li>визначити можливі першопричини, основні підстави конкретних впливу, проблеми чи стану;</li>
        <li>відсортувати та пов’язати деякі з взаємодій між чинниками, що позначаються на конкретному процесі;</li>
        <li>проаналізувати наявні проблеми з тим, щоб можна було виконати коригувальну дію.</li>
    </ul>
</div>
<div class="main-container-two">
    <h3 class="subtitle">Вхідні дані</h3>
    <p>Вхідними даними аналізування причинно-наслідкових зв’язків можуть бути рівень фахової компетентності та досвід учасників, або попередньо розроблена модель, яку використовували в минулому.</p>
</div>
<div class="main-container-one">
    <h3 class="subtitle">Процес виконання методу</h3>
    <p>Аналізування причинно-наслідкових зв’язків має проводити група експертів, добре обізнаних з проблемою, яку потрібно розв’язати. Основні етапи аналізування причинно-наслідкових зв’язків такі:</p>
    <ol>
        <li>Установлюють вплив, який аналізуватимуть, і зазначають його в блоці. Вплив може бути позитивним (ціль) чи негативним (проблема) залежно від обставин;</li>
        <li>Визначають основні категорії причин, відображених блоками на діаграмі Ісікави. Якщо проблема пов’язана з системою, категорії можуть бути такі: персонал, устатковання, середовище, процеси тощо. Однак їх вибирають залежно від конкретного оточення;</li>
        <li>Вписують можливі причини для кожної основної категорії, використовуючи гілки та підгілки для описання взаємозв’язку між ними;</li>
        <li>Відповідають на запитання «чому?» або «чим це спричинене?», щоб установити зв’язки між причинами;</li>
        <li>Критично аналізують усі гілки, щоб перевірити узгодженість і повноту та впевнитись у тому, що причини застосовні до основного впливу;</li>
        <li>Визначають найправдоподібніші причини, спираючись на думку групи та наявні докази.</li>
    </ol>
</div>
<div class="main-container-two">
    <h3 class="subtitle">Вихідні дані</h3>
    <p>Вихідні дані аналізування причинно-наслідкових зв’язків — діаграма Ісікави або деревоподібна діаграма, яка показує можливі та правдоподібні причини. їх треба перевіряти та емпірично тестувати, перш ніж розробляти рекомендації.</p>
</div>