@font-face {
    font-family: Cagliostro;
    src: url(fonts/Cagliostro.ttf);
   }
.header {
    background: #49872E;
    min-height: 10%;
}
.header-top {
     padding: 1em 0;
    background: #2e353f;
}
.detail {
    float: left;
    margin-top: .5em;
}
.detail ul li {
    display: inline-block;
    font-size: 1em;
    margin: 0 0.5em;
    color: #fff;
}
.indicate {
    float: right;
	margin-top: .2em;
}
.indicate i {
    font-size: 1.2em;
    vertical-align: sub;
    margin-right: 0.5em;
    color: #fff;
}
.indicate p {
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    outline: none;
    vertical-align: middle;
}
.navbar-brand span {
    font-size: 0.7em;
}
.navbar-nav {
    float: right;
	margin-top: 1.2em;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse {
	padding-right: 0px;
    padding-left: 0px;
}
.navbar-default {
    background: none !important;
    border: none !important;
	padding: 1.5em 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #F58703;
}
.navbar-default .navbar-toggle {
    border-color: #F58703;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #F58703;
    background-image: none;
    border: 1px solid #F58703;	
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #49872E;
}
.banner-w3agile {
    min-height: 147px;
    padding: 5em 0 0;
}
.nav > li > a {
    padding: 3px 7px;
}
.navbar-brand h1 a {
    font-size: 1.2em;
    text-decoration: none;
	color:#fff;
}
.navbar-brand h1{
    font-family: 'Cagliostro';
    text-transform: none;
    margin: 0;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
}


.nav > li > a {
    padding: 0px 15px;
	color:#fff;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 0 7px;
}
.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-size: 1.2em;
    text-transform: capitalize;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #49872E;
    color: #ff9900;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #49872E;
    color: #ff9900;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ff9900;
   background-color: #49872E;
}
.link-effect-2 {
  overflow: hidden;
}
.link-effect-2 a {
  overflow: hidden;
  font-weight: 400;
}
.link-effect-2 a span {
  position: relative;
  display: inline-block;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
}
.link-effect-2 a span::before {
  color: #ff9900;
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.link-effect-2 a:hover span {
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

html {
    height: 100%;
    margin: 0;
}
body {
    font-family: 'Helvetica', Tahoma, Arial, sans-serif;
    height: 100%;
    margin: 0;
 }

.body-content {
    min-height: 86.1%;
}

.inside-content{
    padding: 20px;
    padding-bottom: 140px;
}

th {
    text-align: center;
}
.diagramcontrols{
    margin: 5px auto;
    border: 1px solid #e6e6e6;
    background-color: #e6e6e6;
    border-radius: 8px;
    padding: 5px;
    width: 500px;
}

.diagramcontrols .controls {
    margin: 5px auto;
    width: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls .btn {
    margin: 0px 5px;
}

.multiline
{
   white-space: pre-line;
}

.table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
}

a { color: dimgray; }

h1,h2,h3,h4,h5,h6 { 
 font-family: 'Helvetica', Tahoma, Arial, sans-serif;
 color: #000000;
 letter-spacing: 1px;
 text-transform: uppercase;
 }

h1 {
 font-size: 2.5em;
 font-weight: 700;
 }

h2 {
 font-size: 2em;
 font-weight: 600;
 }

h3 {
 font-size: 1.17em;
 font-weight: 600;
 }

h4 {
 font-size: 1.10em;
 font-weight: 600;
 }

p { 
 letter-spacing: 0.5px;
 color: #000000;
 }

.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.copy-section {
    background: #49872E;
    text-align: center;
    height: 100px;
    margin-top: -100px;
}
.copy-section .container{
    height: 100px;
    padding-top: 30px;
}
.copy-section p {
    font-size: 1em;
    color: #eee;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.copy-section a {
    font-size: 1em;
    color: #eee;
    font-weight: 400;
    text-transform: capitalize;
}

.caption-text p {color: #fff;}

.btn1 {
    padding: 2px 6px;
    height: 25px;
    font-size: 13px;
    margin-left: 10px;
}

.badge1 {
    font-size: 11px;
}

.classificator {
    height: auto; 
    min-height: 35px;
    display: inline-block;
    vertical-align: middle; 
    line-height: 30px;
    background-color: #e6e6e6;
    padding: 1px 10px;
    margin-bottom: 2px;
    border-radius: 8px;
    white-space: initial;
}

.title{
    color: #49872E;
    font-family: 'Cagliostro', sans-serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.subtitle{
    color: #49872E;
    font-family: 'Cagliostro', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.main-container-one {
    padding: 3em 200px;
    width: 100%;
}

.main-container-two {
    padding: 3em 200px;
    background: rgb(249, 245, 239);
    width: 100%;
}

.main-container-one p, .main-container-two p  {
    text-align: center;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.main-container-two ol, .main-container-one ol {
    text-align: center;
    list-style-position: inside;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.auth {
    width: 30%;
    margin: 0 auto;
    border: 1px solid #e6e6e6;
    border-radius: 7px;
    padding: 10px;
}

.auth .col-md-10{
    width: 50%;
}

.auth .col-md-2{
    width: 30%;
}

.center {
    text-align: center;
}

.loginbox {
    width: 35%;
    min-width: 700px;
    height: 3%;
    min-height: 32px;
    background-color: #FAFAFA;
    margin: 5px auto;
    border: 1px solid;
    border-radius: 7px;
    text-align: center;
    line-height: 32px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    vertical-align: middle;
}

.loginbox .span-bold, .updates{
    font-weight: bold;
}

.loadButton, .delButton {
    float: right;
    margin-right: 5px;
}

.table1 {
    width: 80%;
    margin: 0 auto;
}

.saveheader {
    font-size: 1.2em;
}

.btn-big {
    width: 150px;
}

.checked {
    background-color: #9ACD32;
}

.yearpicker{
    width: 300px;
    margin: 5px auto;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 10px;
}

#datepicker{
    width: 180px;
    margin: 8px auto;
}

.table > thead > tr > th {
    vertical-align: middle;
}