html, body {
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
}

.nav-item {
    font-size: 1.1em;
}

.navbar-brand {
    font-size: 2em;
}

.inside-content {
    padding: 20px;
    padding-bottom: 140px;
}

th {
    text-align: center;
}

.diagramcontrols{
    margin: 5px auto;
    border: 1px solid #e6e6e6;
    background-color: #e6e6e6;
    border-radius: 8px;
    padding: 5px;
    width: 500px;
}

.diagramcontrols .controls {
    margin: 5px auto;
    width: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls .btn {
    margin: 0px 5px;
}

.multiline
{
   white-space: pre-line;
}

.table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
}

a { color: dimgray; }

h1,h2,h3,h4,h5,h6 { 
 font-family: 'Helvetica', Tahoma, Arial, sans-serif;
 color: #000000;
 letter-spacing: 1px;
 text-transform: uppercase;
 }

h1 {
 font-size: 2.5em;
 font-weight: 700;
 }

h2 {
 font-size: 2em;
 font-weight: 600;
 }

h3 {
 font-size: 1.17em;
 font-weight: 600;
 }

h4 {
 font-size: 1.10em;
 font-weight: 600;
 }

.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.copy-section {
    background: #49872E;
    text-align: center;
    height: 100px;
    margin-top: -100px;
}
.copy-section .container{
    height: 100px;
    padding-top: 30px;
}
.copy-section p {
    font-size: 1em;
    color: #eee;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.copy-section a {
    font-size: 1em;
    color: #eee;
    font-weight: 400;
    text-transform: capitalize;
}

.caption-text p {color: #fff;}

.btn1 {
    padding: 2px 6px;
    height: 25px;
    font-size: 13px;
    margin-top: 5px;
    float: right;
}

.badge1 {
    font-size: 11px;
}

.classificator {
    height: auto; 
    min-height: 35px;
    display: inline-block;
    vertical-align: middle; 
    line-height: 30px;
    background-color: #e6e6e6;
    padding: 1px 10px;
    margin-bottom: 2px;
    border-radius: 8px;
    width: 98%;
    white-space: initial;
}

.title{
    color: #49872E;
    font-family: 'Cagliostro', sans-serif;
    font-size: 1.6em;
    text-align: center;
    margin-bottom: 20px;
}

.subtitle{
    color: #49872E;
    font-family: 'Cagliostro', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
}

.main-container-one {
    padding: 1em 10%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.main-container-two {
    padding: 1em 10%;
    background: rgb(249, 245, 239);
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.main-container-one p, .main-container-two p  {
    text-align: center;
    font-size: 15px;
}

.main-container-two ol, .main-container-one ol {
    text-align: center;
    list-style-position: inside;
    font-size: 15px;
}

.auth {
    width: 40%;
    min-width: 300px;
    margin: 0 auto;
    border: 1px solid #e6e6e6;
    border-radius: 7px;
    padding: 10px;
}

.center {
    text-align: center;
}

.loginbox {
    width: 35%;
    min-width: 700px;
    height: 3%;
    min-height: 32px;
    background-color: #FAFAFA;
    margin: 5px auto;
    border: 1px solid;
    border-radius: 7px;
    text-align: center;
    line-height: 32px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    vertical-align: middle;
}

.span-bold, .updates{
    font-weight: bold;
}

.loadButton, .delButton {
    float: right;
    margin-right: 5px;
}

.table1 {
    width: 80%;
    margin: 0 auto;
}

.saveheader {
    font-size: 1.2em;
}

.btn-big {
    width: 150px;
}

.checked {
    background-color: #9ACD32;
}

.yearpicker{
    width: 300px;
    margin: 5px auto;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    padding: 8px;
}

#datepicker{
    width: 180px;
    margin: 8px auto;
}

.table > thead > tr > th {
    vertical-align: middle;
}

.small-icon {
    height: 30px;
    width: 30px;
    margin-bottom: 5px;
}